*~
*.exe
kernel/mrc/bin
*.DS_store
kernel/config/2dx.cfg
Makefile
*.cmake
*.make
*.marks
*.internal
*.includecache
kernel/mrc/lib/*.a
kernel/mrc/lib/*/*.o
kernel/mrc/lib/*/*/*.o
kernel/mrc/*/CMakefiles/*/*.txt
kernel/mrc/*/CMakefiles/*/*.o
kernel/mrc/*/*/CMakefiles/*/*.txt
kernel/mrc/*/*/CMakefiles/*/*.o
kernel/mrc/lib/fsplit
.build_all.swp
kernel/mrc/source/*.mod
kernel/mrc/source/CMakeFiles/*/*.stamp
kernel/mrc/source/CMakeFiles/*/*.build
*.swp
/build/