<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist SYSTEM "file://localhost/System/Library/DTDs/PropertyList.dtd">
<plist version="0.9">
<dict>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleIdentifier</key>
	<string>org.cina.2dx_main</string>
</dict>
</plist>
