<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>CFBundleDevelopmentRegion</key>
	<string>en-UK</string>
        <key>CFBundleDisplayName</key>
	<string>2dx_logbrowser</string>
        <key>CFBundleExecutable</key>
	<string>2dx_logbrowser</string>
	<key>CFBundleIconFile</key>
	<string>icon_OSX.icns</string>
        <key>CFBundleIdentifier</key>
	<string>org.cina.2dx_logbrowser</string>
        <key>CFBundleName</key>
	<string>2dx_logbrowser</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>LSEnvironment</key>
	<dict>
		<key>DYLD_LIBRARY_PATH</key>
		<string>##INSTALL_DIR##/lib</string>
	</dict>
</dict>
</plist>
